body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e7ff; /* Changed to a soft pastel blue */
}

.profileImage {
    max-width: 150px;  
    height: auto;  /* Maintains the aspect ratio */
    border-radius: 50%; 
    margin-bottom: 15px;
}

.parentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.projects {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

.project {
    text-align: center;
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
